@charset "utf-8";
/* CSS Document */

.pageNoLink{
padding-left:4px;
padding-right:4px;
font-size:10pt;
border:#3F73A3 1px solid;
width:20px;
height:20px;
background-color:#3F73A3;
color:#FFF;
font-weight:bold;
}

a.pageLink{
padding-left:4px;
padding-right:4px;
font-size:10pt;
border:#999 1px solid;
width:20px;
height:20px;
background-color:#FFF;
color:#036;

}
a:hover.pageLink{
padding-left:4px;
padding-right:4px;
font-size:10pt;
border:#CCC 1px solid;
width:20px;
height:20px;
background-color:#C2EBE9
}

.pageLinkPrevImage{
	
padding-left:3px;
padding-rifgt:3px;	

}

.pageLinkNextImage{
padding-left:3px;
padding-rifgt:3px;	
	
}
a.greenLink
{
color: green; font-size: 9pt;text-decoration:none;	
}
a.greenLink:hover
{
color: green; font-size: 9pt;text-decoration:underline;
}