INPUT {
	MARGIN: 0px;
}
.searchStart {
	DISPLAY: block;
	BACKGROUND: url(../images/searchStartIndex.gif) no-repeat;
	FLOAT: left;
	WIDTH: 15px;
	HEIGHT: 26px
}
.searchEnd {
	DISPLAY: block;

	FLOAT: left;
	WIDTH: 26px;
	HEIGHT: 26px;
	CURSOR: pointer;
}
.searchField {
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	PADDING-LEFT: 4px;
	BACKGROUND: url(../images/searchBg.gif) repeat-x;
	FLOAT: left;
	BORDER-LEFT: medium none;
	WIDTH: 140px;
	COLOR: #777;
	LINE-HEIGHT: 23px;
	PADDING-TOP: 2px;
	BORDER-BOTTOM: medium none;
	height: 26px;
	padding-bottom: 3px;
}
#roundedSearch {
	PADDING-LEFT: 2px;
	POSITION: relative;
	margin-top: 0px;
	padding-bottom: 0px;
}
#searchPopup {
	FONT-SIZE: 10px; MARGIN-LEFT: 6px; WIDTH: 160px; COLOR: #7eb250; HEIGHT: 35px
}
